<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/dist/bundle/bundle.css" />
  </head>

  <body>
    <div id="root"></div>
    <script src="/dist/bundle/bundle.js"></script>
  </body>
</html>
